* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
 /* max-width: 600px;*/
  margin: 0 auto;
}

.hidden {
  display: none;
}
.results-img, .results-news{
  display: inline-block;
  width: 50%;
  height: 100%;
  /*margin: 5px;*/
  background-color: red;
}
